@use '../../../styles/themeVars' as *;

.card {
  background-color: $bg-dark;
  box-shadow: 0 0 10px $bg-dark;
  width: 30vw;
  max-width: 160px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;

  &_content {
    padding: 1rem;
  }

  &_image {
    width: 100%;
    height: auto;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $bg-color;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid $bg-color;
  }
}
