$bg-color: var(--theme-bg-main, #242629);
$bg-light: var(--theme-bg-light, #f5f5f5);
$bg-dark: var(--theme-bg-dark, #141414);

$highlight: var(--theme-highlight, #99ddcb);
$highlight-alt: var(--theme-highlight-alt, #f0664d);

$text-light: var(--theme-text-light, #c6c6c6);
$text-dark: var(--theme-text-dark, #141414);

$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
