$base-color: var(--theme-color-base, #242629);
$second-color: var(--theme-color-secondary, #141414);
$highlight-color: var(--theme-color-highlight, #99ddcb);

$text-color: var(--theme-text-color, #c6c6c6);
$text-alt: var(--theme-text-alt, #99ddcb);
