@use 'themeVars' as *;

.col-1 {
  background-color: $base-color;
}

.col-2 {
  background-color: $second-color;
}

.col-3 {
  background-color: $highlight-color;
}

.text-1 {
  color: $text-color;
}

.text-2 {
  color: $text-alt;
}
