@use '../../../styles/themeVars' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: calc(100% - 20px);
  min-height: 50px;

  padding: 5px 10px;
  display: flex;
  justify-content: space-between;

  background-color: $highlight;
  color: $text-dark;

  &-shadow {
    box-shadow: 0 0 10px black;
  }

  &_left,
  &_right {
    display: flex;
    align-items: center;
  }
}
