.code-block {
  background-color: #0f0f0f;
  color: #efefef;
  box-shadow: inset 0 2px 4px #000000;
  border-radius: 8px;

  max-width: 100%;
  margin: 8px 16px;
  padding: 16px;

  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  line-height: 1.5;
}
